body{
    background-color: beige;
    color: green;
}

ol{font-family: Verdana, sans-serif;}

ul{font-family: Verdana, sans-serif;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button{border-radius: 10px;}

.down_button{
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    background-color: beige;
    color: green;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.down_button:hover{
    background-color: yellowgreen;
}